.git
.gitignore
.env
.env.example
vendor
docker
!docker/prod/php/prod.ini
!docker/prod/php/www.conf
!docker/prod/php/supervisord.conf
!docker/prod/php/docker-entrypoint.sh
!docker/prod/nginx/nginx.conf
!docker/prod/nginx/default.conf
Dockerfile
docker-compose*.yml
node_modules
storage/logs/*
storage/framework/cache/*
!storage/framework/cache/data/.gitkeep
storage/framework/sessions/*
storage/framework/views/*
tests
public/build
public/hot
analytic
media
