APP_NAME=PACS
APP_ENV=production
APP_KEY=
APP_DEBUG=false
DOCKER_DOMAIN=example.ru
APP_URL="https://${DOCKER_DOMAIN}"
TZ=Europe/Moscow

DB_CONNECTION=pgsql
DB_HOST=app-database
DB_PORT=5432
DB_DATABASE=pacs
DB_USERNAME=pacs
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
SESSION_LIFETIME=120
REDIS_HOST=redis

TRAEFIK_SERVICE=pacs
COMPOSE_FILE=docker-compose.production.yml
APP_VERSION=1.1.0
CERT_ADMIN_EMAIL=admin@example.ru
MOONSHINE_ROUTE_PREFIX=/

PHP_UPLOAD_MAX_FILESIZE=20M
PHP_POST_MAX_SIZE=20M
PHP_MEMORY_LIMIT=256M
PHP_MAX_EXECUTION_TIME=300
PHP_MAX_INPUT_TIME=300
NGINX_CLIENT_MAX_BODY_SIZE=20M

DADATA_TOKEN=
DADATA_SECRET=

MEDIA_SERVER_ENABLED=false
MEDIA_SERVER_VERSION=latest
MEDIA_SERVER_API_URL=http://media-server:8081
MEDIA_SERVER_RTSP=rtsp://media-server:8554

ANALYTIC_ENABLED=false
ANALYTIC_VERSION=latest
ADB_HOST=analytic-database
ADB_PORT=5432
ADB_USERNAME=postgres
ADB_PASSWORD=
ADB_DATABASE=pacs-analytic
ANALYTIC_HOST=http://analytic-api:8082
ANALYTIC_TIMEOUT=60
ANALYTIC_TIMEDELAY=200
MIN_WIDTH_PHOTO=50
MOTION_MIN_AREA=500
MOTION_THRESHOLD=25
MOTION_RECORD_AFTER_TIME=3
EUCLIDEAN_THRESHOLD=0.6
MAX_FACES_IN_LIST=25
CAMERA_POLL_INTERVAL=5

LPR_ENABLED=false
LPR_VERSION=latest
LPR_HOST=http://lpr-api:5000
LPR_TIMEOUT=60
LPR_TIMEDELAY=200
LPR_DB_HOST=lpr-database
LPR_DB_PORT=5432
LPR_DB_USERNAME=postgres
LPR_DB_PASSWORD=
LPR_DB_DATABASE=carplates

DEMO_MODE=false
DEMO_EMAIL=

YACAPTCHA_ENABLED=false
YACAPTCHA_SECRET=
YACAPTCHA_CLIENT=
