APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
TZ=Europe/Moscow

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=app-database
DB_PORT=5432
DB_DATABASE=pacs
DB_USERNAME=pacs
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

DOCKER_DOMAIN=
TRAEFIK_SERVICE=pacs
COMPOSE_FILE=docker-compose.local.yml

MOONSHINE_URL=admin
MOONSHINE_DOMAIN=localhost
MOONSHINE_ROUTE_PREFIX=/

PHP_UPLOAD_MAX_FILESIZE=20M
PHP_POST_MAX_SIZE=20M
PHP_MEMORY_LIMIT=256M
PHP_MAX_EXECUTION_TIME=300
PHP_MAX_INPUT_TIME=300
NGINX_CLIENT_MAX_BODY_SIZE=20M

DADATA_TOKEN=
DADATA_SECRET=

OTP_DRIVER=truthy
FLASHCALLS_URL=
FLASHCALLS_TOKEN=

MEDIA_SERVER_API_URL=http://media-server:8081
MEDIA_SERVER_RTSP=rtsp://media-server:8554

#VIDEO-ANALYTIC
ADB_HOST=analytic-database
ADB_PORT=5432
ADB_USERNAME=postgres
ADB_PASSWORD=
ADB_DATABASE=pacs-analytic
ANALYTIC_HOST=http://analytic-api:8082
ANALYTIC_TIMEOUT=60

MIN_WIDTH_PHOTO=50
MOTION_MIN_AREA=500
MOTION_THRESHOLD=25
MOTION_RECORD_AFTER_TIME=3
EUCLIDEAN_THRESHOLD=0.6
MAX_FACES_IN_LIST=25
CAMERA_POLL_INTERVAL=5
